<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%- page.title %></title>
    </head>

    <body>
        <%- partial('partial/topcontact') %>
        <%- partial('partial/header') %>
        <%- body %>
        <%- partial('partial/footer') %>
    </body>

</html>